@model IEnumerable<cle_spring_2020_courses.Models.CourseModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Course List</h1>
    @foreach(var course in Model)
    {
        <h3>Name: @course.Name</h3>
        <p>Description: @course.Description</p>
        <hr />
    }
</body>
</html>
